{
  "branches": [
    "main",
    {
      "name": "beta",
      "channel": "beta",
      "prerelease": true
    }
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "sed -i -e '1h;2,$H;$!d;g' -e 's@\\[workspace\\.package\\]\\nversion = \"[^\"]*\"@\\[workspace\\.package\\]\\nversion = \"${nextRelease.version}\"@g' Cargo.toml && sed -i -e '1h;2,$H;$!d;g' -e 's@name = \"cli\"\\nversion = \"[^\"]*\"@name = \"cli\"\\nversion = \"${nextRelease.version}\"@g' Cargo.lock"
      }
    ],
    [
      "@semantic-release/github",
      {
        "successComment": false
      }
    ],
    "@semantic-release/changelog",
    "@semantic-release/git"
  ]
}
