name: CI

on:
  push:
    branches:
      - main
      - beta
      - develop
    paths-ignore:
      - "**/CHANGELOG.md"
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  api-lint:
    strategy:
      fail-fast: false
      matrix:
        suite: [ordinals, runes]
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./api/${{ matrix.suite }}
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: 'api/${{ matrix.suite }}/.nvmrc'

      - name: Cache node modules
        uses: actions/cache@v4
        env:
          cache-name: cache-node-modules
        with:
          path: |
            ~/.npm
            **/node_modules
          key: ${{ runner.os }}-build-${{ matrix.suite }}-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ matrix.suite }}-${{ env.cache-name }}-
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install deps
        run: npm ci --audit=false

      - name: Lint ESLint
        run: npm run lint:eslint

      - name: Lint Prettier
        run: npm run lint:prettier

      - name: Lint Unused Exports
        run: npm run lint:unused-exports

  api-test:
    strategy:
      fail-fast: false
      matrix:
        suite: [ordinals, runes]
    defaults:
      run:
        working-directory: ./api/${{ matrix.suite }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: 'api/${{ matrix.suite }}/.nvmrc'

      - name: Cache node modules
        uses: actions/cache@v4
        env:
          cache-name: cache-node-modules
        with:
          path: |
            ~/.npm
            **/node_modules
          key: ${{ runner.os }}-build-${{ matrix.suite }}-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ matrix.suite }}-${{ env.cache-name }}-
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install deps
        run: npm ci --audit=false

      - name: Setup integration environment
        run: |
          sudo ufw disable
          npm run testenv:run -- -d
          npm run testenv:logs -- --no-color &> docker-compose-logs.txt &

      - name: Run tests
        run: npm run test -- --coverage

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Print integration environment logs
        run: cat docker-compose-logs.txt
        if: failure()

      - name: Teardown integration environment
        run: npm run testenv:stop
        if: always()

  rustfmt:
    name: rust-fmt
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        suite:
          - bitcoind
          - postgres
          - cli
          - ordinals
          - runes
    defaults:
      run:
        working-directory: ./components/${{ matrix.suite }}
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Rustfmt Job Summary
        run: |
          # Run cargo and store the original output
          CARGO_STATUS=0
          CARGO_OUTPUT=$(cargo fmt --all --manifest-path=Cargo.toml -- --config group_imports=StdExternalCrate,imports_granularity=Crate --color=always --check 2>/dev/null) || CARGO_STATUS=$?

          if [ ${CARGO_STATUS} -eq 0 ]; then
              cat <<MARKDOWN_INTRO >> $GITHUB_STEP_SUMMARY
          # Rustfmt Results

          The code is formatted perfectly!
          MARKDOWN_INTRO
          else
              cat <<MARKDOWN_INTRO >> $GITHUB_STEP_SUMMARY
          # Rustfmt Results

          \`cargo fmt\` reported formatting errors in the following locations.
          You can fix them by executing the following command and committing the changes.
          \`\`\`bash
          cargo bitcoin-indexer-fmt
          \`\`\`
          MARKDOWN_INTRO

              echo "${CARGO_OUTPUT}" |
                  # Strip color codes
                  sed 's/\x1B\[[0-9;]*[A-Za-z]\x0f\?//g' |
                  # Strip (some) cursor movements
                  sed 's/\x1B.[A-G]//g' |
                  tr "\n" "\r" |
                  # Wrap each location into a HTML details
                  sed -E 's#Diff in ([^\r]*?)( at line |:)([[:digit:]]+):\r((:?[ +-][^\r]*\r)+)#<details>\n<summary>\1:\3</summary>\n\n```diff\n\4```\n\n</details>\n\n#g' |
                  tr "\r" "\n" >> $GITHUB_STEP_SUMMARY
          fi

          # Print the original cargo message
          echo "${CARGO_OUTPUT}"
          # Exit with the same status as cargo
          exit "${CARGO_STATUS}"

  clippy:
    name: rust-clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Install RocksDB dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            llvm \
            clang \
            llvm-18-dev \
            libclang-dev

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: '1.85'
          components: clippy

      # TODO: remove after debugging
      - name: Enable build script debug logging
        run: |
          echo "RUST_BACKTRACE=full" >> $GITHUB_ENV
          echo "CARGO_TERM_VERBOSE=true" >> $GITHUB_ENV
       
      - name: Run clippy
        id: clippy
        run: cargo build --all-targets --verbose

      # - name: Run clippy
      #   id: clippy
      #   run: |
      #     # Disable immediate exit on error
      #     set +e

      #     # Run clippy and capture output
      #     cargo bitcoin-indexer-clippy-cli 2>&1 | tee /tmp/clippy_output.log
      #     CLIPPY_EXIT_CODE=${PIPESTATUS[0]}

      #     # Print output if clippy failed
      #     if [ $CLIPPY_EXIT_CODE -ne 0 ]; then
      #       echo "## âŒ Clippy Check Failed

      #     To see and fix these issues, run:
      #     \`\`\`bash
      #     cargo bitcoin-indexer-clippy
      #     \`\`\`

      #     ### Clippy Errors
      #     \`\`\`
      #     $(cat /tmp/clippy_output.log | grep -E '(error\:)|(warning\:)')
      #     \`\`\`" >> $GITHUB_STEP_SUMMARY
      #     fi

      #     # Enable immediate exit on error again
      #     set -e
      #     exit $CLIPPY_EXIT_CODE

  test:
    strategy:
      fail-fast: false
      matrix:
        suite:
          - bitcoind
          - postgres
          - cli
          - ordinals
          - runes
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./components/${{ matrix.suite }}
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Cache cargo
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Setup integration environment
        run: |
          sudo ufw disable
          docker compose -f ../../dockerfiles/docker-compose.dev.postgres.yml up -d
          docker compose -f ../../dockerfiles/docker-compose.dev.postgres.yml logs -t -f --no-color &> docker-compose-logs.txt &

      - name: Install RocksDB dependencies
        run: |
          sudo apt-get install -y \
            libclang-18-dev \
            clang-18 \
            llvm-18-dev \
            libssl-dev \
            pkg-config \
            libsnappy-dev \
            libgflags-dev \
            zlib1g-dev \
            libbz2-dev \
            liblz4-dev \
            libzstd-dev
          ls -la /usr/lib/llvm*/lib/
          echo "LIBCLANG_PATH=/usr/lib/llvm-18/lib" >> $GITHUB_ENV

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: '1.85'

      - name: Run doc tests
        run: |
          RUST_BACKTRACE=full cargo test --doc

      - name: Run tests
        run: |
          cargo install --force cargo-tarpaulin
          RUST_BACKTRACE=full cargo tarpaulin --skip-clean --out lcov -- --test-threads=1

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Print integration environment logs
        run: cat docker-compose-logs.txt
        if: failure()

      - name: Teardown integration environment
        run: docker compose -f ../../dockerfiles/docker-compose.dev.postgres.yml down -v -t 0
        if: always()

  semantic-release:
    runs-on: ubuntu-latest
    needs: [api-lint, api-test, test, rustfmt, clippy]
    permissions:
      contents: write
      issues: write
      pull-requests: write
    outputs:
      new_release_version: ${{ steps.semantic.outputs.new_release_version }}
      new_release_published: ${{ steps.semantic.outputs.new_release_published }}
      latest: ${{ steps.semantic.outputs.new_release_published == 'true' && github.ref_name == 'main' }}
    steps:
      - name: Generate release bot app token
        id: generate_token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.HIROSYSTEMS_RELEASE_BOT_ID }}
          private-key: ${{ secrets.HIROSYSTEMS_RELEASE_BOT_PEM }}

      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Get bot user ID
        id: bot-user-id
        run: |
          echo "user-id=$(gh api "/users/${{ steps.generate_token.outputs.app-slug }}[bot]" --jq .id)" >> "$GITHUB_OUTPUT"
        env:
          GH_TOKEN: ${{ steps.generate_token.outputs.token }}

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v4
        id: semantic
        # Only run on non-PR events or only PRs that aren't from forks
        if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
          SEMANTIC_RELEASE_PACKAGE: ${{ github.event.repository.name }}
          GIT_AUTHOR_EMAIL: "${{ steps.bot-user-id.outputs.user-id }}+${{ steps.generate_token.outputs.app-slug }}[bot]@users.noreply.github.com"
          GIT_COMMITTER_EMAIL: "${{ steps.bot-user-id.outputs.user-id }}+${{ steps.generate_token.outputs.app-slug }}[bot]@users.noreply.github.com"
        with:
          semantic_version: 19
          extra_plugins: |
            @semantic-release/changelog@6.0.3
            @semantic-release/git@10.0.1
            @semantic-release/exec@6.0.3
            conventional-changelog-conventionalcommits@6.1.0

  build-publish:
    runs-on: ubuntu-latest
    needs: semantic-release
    outputs:
      docker_image_digest: ${{ steps.docker_push.outputs.digest }}
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Checkout tag
        if: needs.semantic-release.outputs.new_release_published == 'true'
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          ref: v${{ needs.semantic-release.outputs.new_release_version }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker Meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            hirosystems/bitcoin-indexer
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}},value=${{ needs.semantic-release.outputs.new_release_version }},enable=${{ needs.semantic-release.outputs.new_release_published }}
            type=semver,pattern={{major}}.{{minor}},value=${{ needs.semantic-release.outputs.new_release_version }},enable=${{ needs.semantic-release.outputs.new_release_published }}
            type=raw,value=latest,enable=${{ needs.semantic-release.outputs.latest }}

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build/Push Image
        uses: docker/build-push-action@v5
        id: docker_push
        with:
          context: .
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          file: ./dockerfiles/components/bitcoin-indexer.dockerfile
          cache-from: type=gha
          cache-to: type=gha,mode=max
          # Only push if (there's a new release on main branch, or if building a non-main branch) and (Only run on non-PR events or only PRs that aren't from forks)
          push: ${{ (github.ref != 'refs/heads/main' || needs.semantic-release.outputs.new_release_published == 'true') && (github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository) }}

  api-build-publish:
    strategy:
      fail-fast: false
      matrix:
        suite: [ordinals, runes]
    runs-on: ubuntu-latest
    needs: semantic-release
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0
          persist-credentials: false

      - name: Checkout tag
        if: needs.semantic-release.outputs.new_release_published == 'true'
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          ref: v${{ needs.semantic-release.outputs.new_release_version }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker Meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            hirosystems/bitcoin-indexer-${{ matrix.suite }}-api
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}},value=${{ needs.semantic-release.outputs.new_release_version }},enable=${{ needs.semantic-release.outputs.new_release_published }}
            type=semver,pattern={{major}}.{{minor}},value=${{ needs.semantic-release.outputs.new_release_version }},enable=${{ needs.semantic-release.outputs.new_release_published }}
            type=raw,value=latest,enable=${{ needs.semantic-release.outputs.latest }}

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build/Tag/Push Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./dockerfiles/components/${{ matrix.suite }}-api.dockerfile
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          # Only push if (there's a new release on main branch, or if building a non-main branch) and (Only run on non-PR events or only PRs that aren't from forks)
          push: ${{ (github.ref != 'refs/heads/main' || needs.semantic-release.outputs.new_release_published == 'true') && (github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository) }}
